research_agent/workplace_*/
research_agent/workspace_*/
research_agent/*.log
research_agent/code_db/*
research_agent/results/*
research_agent/paper_db/*

__pycache__/
tmp/*
logs/*
*.tar.gz

*.egg-info

.DS_Store
*.csv

research_agent/eval_data/*
research_agent/evaluation_results/*

research_agent/evaluation/*/data/
research_agent/evaluation/*/data/*
research_agent/evaluation/**/data/

research_agent/cache/*
research_agent/cache_*/*

research_agent/.env

research_agent/*_tmp/*

.env