workplace_*/
workspace_*/
*.log
code_db/*
results/*

__pycache__/
tmp/*
logs/*
*.tar.gz

*.egg-info

.DS_Store
*.csv

eval_data/*
evaluation_results/*

evaluation/*/data/
evaluation/*/data/*
evaluation/**/data/

cache/*
cache_*/*

.env

*_tmp/*